*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  min-inline-size: 360px;
  margin: 0 auto;
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

:root {
  --bg-color: #F3EFEC;
  --text-color: #312A4E;
  --accent-color: #FFAB6B;
  --main-font: Raleway;
  --accent-font: 'STIX Two Text';
}

.page {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--main-font);
}

.heading {
  color: var(--text-color);
  font-family: var(--accent-color);
  font-style: normal;
  text-align: center;
  font-weight: 600;
  line-height: 90%;
}

.content-section {
  padding-left: 5vi;
  padding-right: 5vi;
}

.header__title {
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
  margin-bottom: 40px;
  padding-top: 10%;
}

.content__title {
  font-size: 30px;
  margin-top: 7%;
  margin-bottom: 2.5%;
}

.content__text-block{
  font-size: 18px;
  color: var(--text-color);
  font-family: var(--main-font);
  font-weight: 400;
  display: flex;
  flex-direction: column;
}

.content__text-block .content__paragraph:not(:last-child) {
  margin-bottom: 1.5em;
}

.content__link {
  color: inherit;
  text-underline-offset: 2px;
}

.content__blockquote {
  align-self: center;
  width: 75%;
  margin-bottom: 1.5em;
  font-style: italic;
  font-weight: 400;
  line-height: 200%;
}

.content__list {
  list-style: none;
  color: var(--text-color);
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content__list li::before{
  content: " ";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url(../images/marker-light.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 5px;
  margin-top: 2px;
}

.content__text-block_type_first-lettered .content__paragraph:first-child::first-letter {
  background-color: var(--accent-color);
  color: var(--text-color);
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 9px;
  padding-left: 4px;
  padding-right: 4px;
  margin-right: 1px;
}

.content__picture {
  inline-size: 100%;
}

.content__figure {
  position: relative;
  margin: 7% auto;
  inline-size: calc(100% + 10vi);
  inset-inline-end: 5vi;
}

.content__picture-caption {
  text-align: center;
  padding: 20px;
  font-size: 18px;
  border-block-end: 1px solid currentColor;
}

.content__card {
  aspect-ratio: 4 / 3;
  margin-top: 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid currentColor;
}

.content__card-title {
  font-size: 60px;
  padding-bottom: 4px;
}

.colored-text {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.colored-text::after {
  content: " ";
  position: absolute;
  z-index: -1;
  inline-size: calc(100% + 8px);
  block-size: 0.5ch;
  background-color: var(--accent-color);
  inset-block-end: 0.05ch;
  inset-inline-start: -4px;
}

.content__card-subtitle {
  color: var(--text-color);
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 400;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-block-start: 1px solid currentColor;
  border-block-end: 1px solid currentColor;
  padding-block: 20px;
}

.eader__theme-toggler {
  display: flex;
  gap: 20px;
  list-style: none;
}

.header__theme-button {
  color: var(--text-color);
  font-family: var(--main-font);
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 104%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-button_type_dark:hover {
  text-decoration: underline;
}

.header__theme-button_type_dark:focus {
  outline: none;
}

.header__theme-button_type_dark:focus-visible {
  border: 1px solid var(--text-color);
}

.header__theme-button_type_light:hover {
  text-decoration: underline;
}

.header__theme-button_is-active {
  font-weight: 700;
  position: relative;
}

.header__theme-button_is-active::after {
  content: " ";
  position: absolute;
  z-index: -1;
  inline-size: calc(100% + 8px);
  block-size: 0.5ch;
  background-color: var(--accent-color);
  inset-block-end: 0.05ch;
  inset-inline-start: -4px;
}

.footer {
  margin-top: 10%;
  padding: 2.5% 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-block-start: 1px solid var(--text-color);
}

.footer__copyright {
  color: var(--text-color);
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
}

.theme_dark {
  --bg-color: #171717;
  --text-color: #B3B3B3;
  --accent-color: transparent;
}

.theme_dark .colored-text::after {
  background-image: url(../images/pattern.svg);
}

.theme_dark .header__theme-button_is-active::after {
  background-image: url(../images/pattern.svg);
}

.theme_dark .content__text-block_type_first-lettered .content__paragraph:first-child::first-letter {
  border: 1px solid currentColor;
}

.theme_dark .content__list li::before {
  background-image: url(../images/marker-dark.svg);
}

















